/*

Coastal Charters

  # PAGE LOADER
  # FONTS
  # GENERAL
    ## TYPOGRAPHY
    ## LINKS
  # PRIMARY HEADER
  # SECTION: HERO
  # CONTENT CONTAINER
    ## SECTION: ABOUT
    ## SECTION: EXPERIENCE
    ## SECTION: RATES
    ## SECTION: GALLERY
    ## SECTION: TESTIMONIALS
    ## SECTION: LOCATION
    ## SECTION: CONTACT
  # FOOTER
  # SCRIPTS

  # MEDIA QUERIES > follow below

*/


/* # PAGE LOADER ---------------*/

.loaderIMG {
    padding: 10px;
    position: fixed;
    top: 45%;
    left: 45%;
    width: 80px;
}

.HideLoader {
    display: none;
}


/* # FONTS ---------------*/

@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto/roboto_bold/Roboto-Bold-webfont.eot');
    src: url('../fonts/roboto/roboto_bold/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto_bold/Roboto-Bold-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto_bold/Roboto-Bold-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto_bold/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold_italic';
    src: url('../fonts/roboto/roboto_bold/Roboto-BoldItalic-webfont.eot');
    src: url('../fonts/roboto/roboto_bold/Roboto-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto_bold/Roboto-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto_bold/Roboto-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto_bold/Roboto-BoldItalic-webfont.svg#robotobold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoitalic';
    src: url('../fonts/roboto/roboto_italic/Roboto-Italic-webfont.eot');
    src: url('../fonts/roboto/roboto_italic/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto_italic/Roboto-Italic-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto_italic/Roboto-Italic-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto_italic/Roboto-Italic-webfont.svg#robotoitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto/roboto_regular/Roboto-Regular-webfont.eot');
    src: url('../fonts/roboto/roboto_regular/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto_regular/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto_regular/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto_regular/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'quicksandlight';
    src: url('../fonts/quicksand/quicksand-light-webfont.eot');
    src: url('../fonts/quicksand/quicksand-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/quicksand/quicksand-light-webfont.woff') format('woff'),
         url('../fonts/quicksand/quicksand-light-webfont.ttf') format('truetype'),
         url('../fonts/quicksand/quicksand-light-webfont.svg#quicksandlight') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* # GENERAL ---------------*/

body {
  background-color: #fff;
  font-family: "robotoregular", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #2d2d2d;
  margin: 0;
  height: 100%;
}


/* ## TYPOGRAPHY ---------------*/

p {
  line-height: 22px;
  text-align: center;
  font-size: 0.8rem;
  padding-bottom: 10px;
}


h1 {
  font-family: "quicksandlight";
  font-size: 2.4rem;
  padding: 70px 0px 37px 0px;
  line-height: 40px;
  color: #253a59;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.4);
}

h1:hover {
  transition: all 300ms linear;
  transform: translate(0) scale(1.2);
  text-shadow: 3px 3px 3px rgba(150, 150, 150, 0.8);
}

h2 {
  font-family: "robotoitalic";
  font-size: 1.2rem;
  padding-bottom: 15px;
  color: #2d2d2d;
  text-align: center;
}

h3 {
  font-family: "robotoitalic";
  font-size: 1.4rem;
  color: #FFF;
  text-align: center;
  padding: 50px 0px 20px 0px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

#reel-deal #under-surface #rig {
  padding-top: 0px;
}

#testimonials h3 {
  color: #61c9ec;
  font-family: "robotobold";
}

#testimonials p:nth-child(3) {
  font-family: "robotobold";
}


/* ## LINKS ---------------*/

a {
  color: #4382ad;
}

a:hover {
  color: #61c9ec;
}


/* # PRIMARY HEADER ---------------*/

.primary-header {
  text-align: center;
  background-color: #231f20;
}

navbar {
  height: auto;
  max-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.menu {
  top: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 150px;
  background: #0c4b73;
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.menu ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
 width: 150px;
 background-color: #f1f1f1;
}

.menu li a {
 display: block;
 color: #000;
 padding: 16px 16px;
 text-decoration: none;
}

.menu li a:hover {
 background-color: #286692;
 color: white;
}

.toggle-nav {
 padding:5px;
 display:inline-block;
 border-radius:3px;
 font-size:1.5rem;
 transition:color linear 0.15s;
 text-decoration: none;
}

.toggle-nav:hover, .toggle-nav.active {
 text-decoration:none;
 color:#66a992;
}

/*.toggle .fa fa-times:hover,  .toggle .fa fa-times:active{
 color:#66a992;
}*/

.top {
 padding:5px;
 border-radius:3px;
 font-size:1.5rem;
 transition:color linear 0.15s;
 text-decoration: none;
 text-align: center;
}


/* # SECTION: HERO ---------------*/

.logo-icon {
  padding: 0;
  margin: 0;
  text-align: center;
  position: relative;
}

.logo-icon img {
  height: 100%;
  width: auto;
  max-height: 250px;
  max-width: 250px;
}

.logo-icon:hover {
  transition: all 400ms ease-in-out;
  transform: translate(0) scale(1.1);
}

.hero {
  padding: 0;
  margin: 0;
  text-align: center;
  height: 100%;
  width: 100%;
  background: url(../images/scales.png) no-repeat;
  background-size: cover;
  background-position: center top;
  position: relative;
}

figure {
  height: 250px;
}


/* # CONTENT CONTAINER ---------------*/

.content {
  padding:0px 7px;
  width: auto;
  margin:auto;
}


/* ## SECTION: ABOUT ---------------*/


/* ## SECTION: EXPERIENCE ---------------*/

#experience {
  background-color: #c8cac8;
}


/* ## SECTION: RATES---------------*/

table {
    border: solid thin #253a59;
    width: 100%;
    margin-bottom:30px;
    line-height: 30px;
    margin-top: 50px;
    -ms-flex-item-align: right;
        -ms-grid-row-align: right;
        align-self: right;
}

th, td {
    font-size: 1rem;
    padding: 12px 50px;
    text-align: center;
    border-collapse:collapse;
}

th {
  background-color: #253a59;
  font-family: 'robotoitalic';
  color: #FFF;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

tr:hover{
  background-color: #8dc1d6;
}


/* ## SECTION: GALLERY ---------------*/

#gallery {
  background-color: #c8cac8;
  padding-bottom: 70px;
}

#gallery.images {
  margin-bottom: 70px;
}

.images {
  margin: 0 auto;
  width: 300px;
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
  -o-box-shadow: 0 0 10px rgba(0,0,0,0.6)
}

.images div {
  background-color: #FFF;
  height: 200px;
  position: relative;
}

.images div img {
  width: 100%;
  height: 100%;
}


/* ## SECTION: TESTIMONIALS ---------------*/


/* ## SECTION: LOCATION ---------------*/

iframe {
  width:100%;
  height: 210px;
}

.map {
  margin: 18px 0;
}

.location {
  padding-bottom: 25px;
}

.location p {
  padding-top: 50px;
}


/* ## SECTION: CONTACT ---------------*/

label {
    display:block;
    margin-top:20px;
    font-size:0.9em;
    text-transform: uppercase;
}

form {
    margin:0 auto;
    padding-top: 20px;
    width:300px;
}

input, textarea {
  width:280px;
    height:15px;
    background:#efefef;
    border:1px solid #c8cac8;
    padding:10px;
    margin-top:3px;
    font-size:0.9em;
    color:#3a3a3a;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
}

textarea {
	height:100px;
}

button {
  margin-top: 20px;
  margin-bottom: 80px;
  background-color: #c8cac8;
  height: 30px;
  font-size: 0.9rem;
}


/* # FOOTER ---------------*/

.primary-footer {
  color: white;
  font-size: 1rem;
  padding: 35px 12px;
  background-color: #286692;
  line-height: 25px;
}

.primary-footer p {
  margin:12px 0;
}

.primary-footer div {
  margin: 0 auto;
}

.social-media {
  display: block;
  text-align: center;
  margin: 12px auto;
  padding: 12px 0;
}

.social-media a {
  padding: 5px;
  font-size: 0.9rem;
}

.fa-ul a:hover {
  color: #61c9ec;
}

.primary-footer a {
  color: #fff;
  text-decoration: none;
}

.primary-footer .address {
  color: #000;
  font-weight: bold;
}

.primary-footer a:hover {
  color: #61c9ec;
}

span {
  display:none;
}


/* # MEDIA QUERIES ---------------*/

  /* =============================================

  @media all and (min-width: 600px)

   # PRIMARY HEADER
     ## TYPOGRAPHY
   # SECTION: HERO
     ## SECTION: EXPERIENCE
     ## SECTION: RATES
     ## SECTION: GALLERY
     ## SECTION: TESTIMONIALS
     ## SECTION: LOCATION
     ## SECTION: CONTACT
   # FOOTER

   ============================================= */

   @media all and (min-width: 600px){

     /* # PRIMARY HEADER ---------------*/

     .menu {
       width: 200px;
     }

     .menu ul {
      width: 200px;
     }

     .toggle-nav {
      padding:7px;
      font-size:2rem;
     }


     /* ## TYPOGRAPHY ---------------*/

      p {
        font-size: 0.9rem;
        padding-bottom: 20px;
      }

      #about p {
        padding: 0px 40px 20px 40px;
      }

      #about p:nth-child(4) {
        padding-bottom: 45px;
      }

      h1 {
        font-size: 2.7rem;
      }

      #gallery h1 {
        padding-bottom: 50px;
      }

      .location h1 {
        padding-bottom: 50px;
      }

      h2 {
        font-size: 1.4rem;
        padding-bottom: 25px;
      }

      h3 {
        padding: 20px 0px 20px 0px;
      }


     /* # SECTION: HERO ---------------*/

      .logo-icon {
        background-size: 40%;
      }


     /* ## SECTION: EXPERIENCE ---------------*/

      .columns {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
      }

      .columns article {
        width: 32%;
        height: 100%;
        padding: 0px 10px;
      }


     /* ## SECTION: RATES ---------------*/

      .columns-table {
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         align-items: flex-start;
         margin: 20px;
      }

      .columns-table table {
        width: 48%;
        height: 100%;
      }


     /* ## SECTION: GALLERY ---------------*/

     #gallery {
       padding-bottom: 90px;
     }

     .images {
       width: 450px;
     }

     .images div {
       height: 300px;
     }


     /* ## SECTION: TESIIMONIALS ---------------*/


     /* ## SECTION: LOCATION ---------------*/

      iframe {
        height: 250px;
      }

      .map {
        margin: 18px 0 10px 0;
      }


     /* # FOOTER ---------------*/

      .primary-footer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
      }

      .primary-footer p {
        text-align: left;
        line-height: 19px;
      }

      .primary-footer div {
        margin: 0px;
      }

      .social-media {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: left;
        line-height: 25px;
        }

      .social-media a {
        padding: 0px;
        font-size: 0.9rem;
        text-decoration: none;
      }

      span {
        display: inline-block;
        padding: 0px 25px 0px 15px;
      }

    }


    /* =============================================

    @media all and (min-width: 1140px) and (max-width: 1366px)

       ## TYPOGRAPHY
       ## LINKS
     # PRIMARY HEADER
     # SECTION: HERO
     # CONTENT CONTAINER
       ## SECTION: ABOUT
       ## SECTION: EXPERIENCE
       ## SECTION: RATES
       ## SECTION: GALLERY
       ## SECTION: TESTIMONIALS
       ## SECTION: LOCATION
       ## SECTION: CONTACT
     # FOOTER
     # BUTTONS

    ============================================== */

    @media all and (min-width: 1140px){
    /*@media all and (min-width: 1140px) and (max-width: 1366px)*/

    /* # PRIMARY HEADER ---------------*/

    .menu {
      width: 220px;
    }

    .menu ul {
     width: 220px;
    }

    .menu li a {
     padding: 20px 16px;
    }

    .toggle-nav {
     padding: 9px;
     font-size: 2.2rem;
    }


    /* ## TYPOGRAPHY ---------------*/

      p {
        line-height: 27px;
        font-size: 1.1rem;
      }

      #about p {
        padding: 0px 90px 20px 90px;
      }

      #about p:nth-child(4) {
        padding-bottom: 60px;
      }

      h1 {
        font-size: 4rem;
        padding: 65px 0 40px 0;
      }

      #gallery h1 {
        padding-bottom: 70px;
      }

      .location h1 {
        padding-bottom: 70px;
      }

      h2 {
        font-size: 2rem;
        padding: 40px 0px 50px 0px;
      }

      h3 {
        font-size: 1.6rem;
        padding: 30px 0px;
        letter-spacing: 3.5px;
      }


      /* # PRIMARY HEADER ---------------*/


      /* # SECTION: HERO ---------------*/

      .logo-icon {
        background-size: 20%;
      }


      /* ## SECTION: EXPERIENCE ---------------*/

      .columns article {
        padding: 0px 30px 20px 30px;
      }


      /* ## SECTION: RATES---------------*/

      th, td {
          font-size: 1.2rem;
          padding: 12px 50px;
      }

      th {
        font-size: 1.2rem;
        letter-spacing: 6px;
      }


      /* ## SECTION: GALLERY ---------------*/

      .images {
        width: 900px;
      }

      .images div {
        height: 600px;
      }


      /* ## SECTION: LOCATION ---------------*/

      iframe {
        height: 275px;
      }

      .map {
        margin: 20px 0 40px 0;
      }


      /* # FOOTER ---------------*/

      .social-media a {
        font-size: 1.1rem;
        line-height: 30px;
      }

      .primary-footer .address {
        line-height: 28px;
      }

    }
